body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #b6b4b4;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}  
.jumbotron {
  background-color: #55c91e;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 60px 50px;
  text-align: center;
}
.bg-grey {
  background-color: #fffcfc;
}
.logo-small {
  color: #f4511e;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #f4511e; 
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}
.panel-heading {
  color: #fff !important;
  background-color: #0ac820 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #14b708;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #1cad06;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}




/* Add this CSS code to your styles.css file */

#products-container {
  margin-top: 20px;
}

#products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products-list li {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  min-width: 300px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  color: #efefef;
}


/* Add this CSS code to your styles.css file */

select#plant-variety {
  font-size: 25px;
  border: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 330px;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align: center;
  cursor: pointer;
}

#products-list img {
  width: 35px;
  padding-right: 10px;
}
button {
  position: relative;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  color: #2F5C2F;
  background-color: transparent;
  border: 3px solid #2F5C2F;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: #D5A084;
  border-radius: 8px;
  z-index: -1;
  transition: all 0.5s;
}

button:hover::after {
  top: 0;
  left: 0;
}

.icon-1 {
  position: absolute;
  width: 15%;
  top: 10px;
  right: 15px;
  color: #2F5C2F;
  transform-origin: 100% 100%;
  transform: rotate(-25deg) translateX(120%) translateY(20%);
  z-index: -1;
  transition: all 0.5s;
}

button:hover .icon-1 {
  width: 25%;
  transform: rotate(10deg) translateX(110%) translateY(-40%);
}

.icon-2 {
  position: absolute;
  width: 15%;
  top: 20px;
  left: 10px;
  color: #2F5C2F;
  transform-origin: 100% 100%;
  z-index: -1;
  transition: all 0.5s;
}

button:hover .icon-2 {
  width: 50%;
  top: -40px;
  left: -80px;
  transform: rotate(90deg);
  z-index: 1;
}